<!--
The Component Dev Kit (CDK) is a set of tools that implement common interaction patterns whilst being unopinionated
about their presentation. It represents an abstraction of the core functionalities found in the
Angular Material library, without any styling specific to Material Design.
-->

<!-- simple d&d list-->
<app-simple-list></app-simple-list>


<!-- simple d&d list with drag handle-->
<app-simple-list-with-handle></app-simple-list-with-handle>


<!-- two d&d lists-->
<app-two-lists></app-two-lists>


<!-- drag elements freely-->
<app-free-drag></app-free-drag>


